{
  "nodes": [
    #foreach( $t in $technologies.values() )
    { "id":"$t.name", "group":"1", "name":"$t.name", "text":"$t.text.replaceAll("\r?\n", "<br>")", "rank":$t.rank, "root":$t.root },
    #end
  ],
  "links": [
    #foreach( $tech in $technologies.values() )
    #foreach( $previous in $tech.previous )
    { "source":"$previous.name", "target":"$tech.name", "strong":true },
    #end
    #end
    
    #foreach( $tech in $technologies.values() )
    #foreach( $previous in $tech.help )
    { "source":"$previous.name", "target":"$tech.name", "strong":false },
    #end
    #end
  ],
}